#navbari{
    color:rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: lighter;
    padding: 10px;
    margin: 1px;
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 15px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    /* outline: none; */
    /* position: relative; */
    text-decoration: wavy;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#Tom{
    margin-top: 40px;
    margin-left: 300px ;
    /* z-index: 50; */
}

#btn{
    border: 3px solid black;
    border-radius: 15px;
    margin-left: 830px ;
    font-size: x-large;
    background-color: gray ;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}